.container {
    display: block;
    width: 50%;
    margin: 20px auto 0 auto;
    height: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 10px;
  }
  
  .sw {
    float: left;
    width: 100%;
    height: 80px;
    padding: 15px;
    display: flex;
    align-items: center;
  }
  .sw form {
    float: left;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
  }

  .sw .search {
    flex: 1 1 auto;
    order: 2;
    outline: none;
    border: none;
    border-radius: 0;
    background: #fff;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    height: 50px;
    transition: all 0.1s ease-in-out;
    -webkit-appearance: none;
  }
  .sw .search:focus {
    height: 80px;
    margin-left: -15px;
    padding: 10px 15px;
  }
  .sw .search:focus + .go {
    height: 80px;
    margin-right: -15px;
    max-width: 80px;
    color: #533687;
  }

  .sw .go {
    flex: 1 1 auto;
    order: 3;
    max-width: 50px;
    display: inline-block;
    border: none;
    background: #fff;
    color: #ccc;
    height: 50px;
    transition: all 0.05s ease-in-out;
    font-size: 21px;
    outline: none;
  }
  .sw .go svg {
    width: 16px;
    fill: #ccc;
  }
  
  .content {
    float: left;
    width: 100%;
    clear: both;
    padding: 15px;
    text-align: center;
  }
  .content h1 {
    font-family: "Roboto", sans-serif;
    color: #333;
    padding: 0;
    font-size: 48px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.02em;
    margin-top: 50px 0 0 0;
  }
  .content p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #333;
    -webkit-font-smoothing: antialiased;
  }
  .content p a {
    color: #533687;
    text-decoration: none;
  }
  .content p a:hover {
    text-decoration: underline;
  }
  .content cite {
    color: #aaa;
  }

  @media screen and (max-width: 992px) {
    .container {
        width:95%
    }
}