a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
#root {
    height: 100%;
}
.App {
    height: 100%;
}

@media screen and (max-width:1250px) {
  
    }
  
  
  @media screen and (max-width: 992px) {
   
  }
  
  
  @media screen and (max-width:850px) {
    
    }
  
  @media screen and (max-width: 600px) {
  
  }